*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: .5rem 5rem;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid gainsboro;
    padding:.5rem 0 1rem 0;
}
header .title h2{ 
     color:rgb(30, 155, 155);
     text-transform: uppercase;
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     font-weight: 400;   
}


header .header-menu ul li{
    list-style: none;
    text-decoration: none;
    display: inline-block;
    padding-right: 1rem;
    color:rgb(30, 155, 155);
    font-size: small;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
.main-form{
    border: 1px solid gainsboro;
    width: 500px;
    height: auto;
    border-radius: 5px;
}
.form-header{
    width: 100%;    
    padding: 1rem;
    background-color: rgb(187, 187, 187);
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: medium;
    border-radius: 5px 5px 0 0;
}
.form-body{
    width: 100%;
    height: auto;
    padding: .5rem 1rem;
}

.form-footer{
    width: 100%;    
    height: 3rem;
    padding: 1rem;
    background-color: rgb(233, 232, 232);    
    border-radius:0 0 5px 5px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;

}

.form-footer  button{
    background-color: #2cd3a7;
	border: none;
	outline: none;
	padding: 0.5rem 1.5rem;
	border-radius: 8px;
	color: white;
	letter-spacing: 1px;
	cursor: pointer;
}
label{
    display: block;
}

.form-body input{
    width: 100%;
    height: 1.8rem;
    border-radius: 5px;
    border:2px solid grey;
    margin: .5rem 0;
}

.form-body textarea{
    width: 100%;
    border:2px solid grey;
    margin: .5rem 0;
    border-radius: 5px;
    max-width: 100%;
}

.form-body select{
    width: 100%;
    background-color: #2cd3a7;
    border-color: #2cd3a7;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    font-size: medium;
    padding: 5px;
    margin:.5rem 0;
}

.version-field{
    width:25% !important;
}

.radio-group{
    display: flex;
    justify-content: flex-start;
    align-items: center;    
}

.radio-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8rem;
    
}
.radio-button input{
    width: auto;    
}
.radio-button label{
    display: inline;
}